<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    <div class="row">
        <br><br><br>
        <div class="col l8 m8 s12 offset-l2 offset-m2" style="font-size:30px; color:black; text-align: center">
                Which statement is true ? 
        </div>

        <br><br><br>

        <div class="col l8 m8 s12 offset-l2 offset-m2">

                <mat-selection-list #shoes>
                        <mat-list-option *ngFor="let shoe of typesOfShoes">
                          {{shoe}}
                        </mat-list-option>
                      </mat-selection-list>
        </div>
        
    </div>


</body>
</html>