<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    <div class="row">
        <br><br><br>
        <div class="col l8 m8 s12 offset-l2 offset-m2" style="font-size:30px; color:black; text-align: center">
                Which statement is true ? 
        </div>

        <br><br><br>

        <div class="col l8 m8 s12 offset-l2 offset-m2">

                <ul class="collection">
                        <li class="collection-item active">Alvin</li>
                        <li class="collection-item">Alvin</li>
                        <li class="collection-item">Alvin</li>
                        <li class="collection-item">Alvin</li>
                      </ul>
        </div>
        
    </div>
    <div class="row">
    <i class="material-icons col l1 m1 s3 offset-l2 offset-m1 " style="font-size:80 ">keyboard_arrow_left</i>

    <i class="material-icons col l1 m1 s3 offset-l6 offset-m8 offset-s6 " style="font-size:80">keyboard_arrow_right</i>
    </div>

</body>
</html>